# Table of Contents
 <p><div class="lev1"><a href="#Introduction-to-Pandas"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to Pandas</a></div><div class="lev2"><a href="#Pandas-Data-Structures"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Pandas Data Structures</a></div><div class="lev3"><a href="#Series"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Series</a></div><div class="lev3"><a href="#DataFrame"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>DataFrame</a></div><div class="lev3"><a href="#Exercise-1"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Exercise 1</a></div><div class="lev3"><a href="#Exercise-2"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Exercise 2</a></div><div class="lev2"><a href="#Importing-data"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Importing data</a></div><div class="lev3"><a href="#Microsoft-Excel"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Microsoft Excel</a></div><div class="lev2"><a href="#Pandas-Fundamentals"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Pandas Fundamentals</a></div><div class="lev3"><a href="#Manipulating-indices"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Manipulating indices</a></div><div class="lev2"><a href="#Indexing-and-Selection"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Indexing and Selection</a></div><div class="lev3"><a href="#Exercise-3"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Exercise 3</a></div><div class="lev2"><a href="#Operations"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Operations</a></div><div class="lev2"><a href="#Sorting-and-Ranking"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Sorting and Ranking</a></div><div class="lev3"><a href="#Exercise-4"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Exercise 4</a></div><div class="lev2"><a href="#Hierarchical-indexing"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Hierarchical indexing</a></div><div class="lev2"><a href="#Missing-data"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Missing data</a></div><div class="lev3"><a href="#Exercise-5"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Exercise 5</a></div><div class="lev2"><a href="#Data-summarization"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Data summarization</a></div><div class="lev2"><a href="#Writing-Data-to-Files"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Writing Data to Files</a></div><div class="lev3"><a href="#Advanced-Exercise:-Compiling-Ebola-Data"><span class="toc-item-num">1.10.1&nbsp;&nbsp;</span>Advanced Exercise: Compiling Ebola Data</a></div><div class="lev2"><a href="#References"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>References</a></div>

# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

In [1]:
import pandas as pd
import numpy as np
# pd.options.mode.chained_assignment = None  # default='warn'

## Pandas Data Structures

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [ ]:
counts = pd.Series([632, 1638, 569, 115])
counts

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [ ]:
counts.values

In [ ]:
counts.index

We can assign meaningful labels to the index, if they are available:

In [ ]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

These labels can be used to refer to the values in the `Series`.

In [ ]:
bacteria['Actinobacteria']

In [ ]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

In [ ]:
[name.endswith('bacteria') for name in bacteria.index]

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [ ]:
bacteria[0]

We can give both the array of values and the index meaningful labels themselves:

In [ ]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [ ]:
np.log(bacteria)

We can also filter according to the values in the `Series`:

In [ ]:
bacteria[bacteria>1000]

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [ ]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569,
                 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Notice that the `Series` is created in key-sorted order.

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corresponding values as missing. Pandas uses the `NaN` (not a number) type for missing values.

In [ ]:
bacteria2 = pd.Series(bacteria_dict, 
                      index=['Cyanobacteria','Firmicutes',
                             'Proteobacteria','Actinobacteria'])
bacteria2

In [ ]:
bacteria2.isnull()

Critically, the labels are used to **align data** when used in operations with other Series objects:

In [ ]:
bacteria + bacteria2 
# entries are aligned (overloaded operator) --> NaN

Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

In [ ]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

Notice the `DataFrame` is sorted by column name. We can change the order by indexing them in the order we desire:

In [ ]:
data[['phylum','value','patient']]

A `DataFrame` has a second index, representing the columns:

In [ ]:
data.columns

The `dtypes` attribute reveals the data type for each column in our DataFrame. 

- `int64` is numeric integer values 
- `object` strings (letters and numbers)
- `float64` floating-point values

In [ ]:
data.dtypes

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

In [ ]:
data['patient']

In [ ]:
data.patient

In [ ]:
type(data.value)

In [ ]:
data[['value']]

In [ ]:
type(data[['value']])

Notice this is different than with `Series`, where dict-like indexing retrieved a particular element (row). 

If we want access to a row in a `DataFrame`, we index its `loc` attribute.

In [ ]:
data.loc[3]

### Exercise 1

Try out these commands to see what they return:

- `data.head()`
- `data.tail(3)`
- `data.shape`

### Answer 1

- `data.head()` returns the first (5) rows of the DataFrame data.
- `data.tail(3)` returns the 3 last rows of the DataFrame data.
- `data.shape` returns the size of the DataFrame data in the tuple format (number of rows, number of columns)

In [ ]:
data.head()

In [ ]:
data.tail(3)

In [ ]:
data.shape

An alternative way of initializing a `DataFrame` is with a list of dicts:

In [ ]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

In [ ]:
data

Its important to note that the Series returned when a DataFrame is indexed is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be cautious when manipulating this data:

In [ ]:
vals = data.value
vals

In [ ]:
vals[5] = 0 # it happens on the initial data frame, not on a copy
vals

If we plan on modifying an extracted Series, its a good idea to make a copy.

In [ ]:
vals = data.value.copy()
vals[5] = 1000
vals

In [ ]:
data.value

We can create or modify columns by assignment:

In [ ]:
data.value[[3,4,6]] = [14, 21, 5]
data

In [ ]:
data['year'] = 2013
data

But note, we cannot use the attribute indexing method to add a new column:

In [ ]:
data.treatment = 1
data

In [ ]:
data.treatment

### Exercise 2

From the `data` table above, create an index to return all rows for which the phylum name ends in "bacteria" and the value is greater than 1000.

In [ ]:
idx = (data.phylum.str.endswith('bacteria')) & (data.value > 1000)
data[idx]

Specifying a `Series` as a new columns cause its values to be added according to the `DataFrame`'s index:

In [ ]:
treatment = pd.Series([0]*4 + [1]*2) # Series with 4 zeros and 2 ones --> 6 entries.
treatment

In [ ]:
data['treatment'] = treatment # Attention to NaN! -> not the same size.
data

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [ ]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
data['month'] = month

In [ ]:
data['month'] = ['Jan']*len(data)
data

We can use the `drop` method to remove rows or columns, which by default drops rows. The drop operation is not done in-place by default. We can be explicit by using the `axis` argument:

In [ ]:
data_nomonth = data.drop('month', axis=1)
data_nomonth
#or: 
# data.drop('month', axis=1, inplace=True)
# data

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [ ]:
data.values

Notice that because of the mix of string and integer (and `NaN`) values, the dtype of the array is `object`. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [ ]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})
df.values

Pandas uses a custom data structure to represent the indices of Series and DataFrames.

In [ ]:
data.index

Index objects are immutable:

In [ ]:
data.index[0] = 15

This is so that Index objects can be shared between data structures without fear that they will be changed.

In [ ]:
bacteria2.index = bacteria.index

In [ ]:
bacteria2

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. Though it is easy to load basic data structures into Python using built-in tools or those provided by packages like NumPy, it is non-trivial to import structured data well, and to easily convert this input into a robust data structure:

    genes = np.loadtxt("genes.csv", delimiter=",", dtype=[('gene', '|S10'), ('value', '<f4')])

Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

In [ ]:
!cat Data/microbiome.csv

This table can be read into a DataFrame using `read_csv`:

In [ ]:
mb = pd.read_csv("Data/microbiome.csv")
mb

Notice that `read_csv` automatically considered the first row in the file to be a header row.

We can override default behavior by customizing some the arguments, like `header`, `names` or `index_col`.

In [ ]:
pd.read_csv("Data/microbiome.csv", header=None).head()

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [ ]:
mb = pd.read_table("Data/microbiome.csv", sep=',')

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace, which is unfortunately very common in some data formats: 
    
    sep='\s+'

For a more useful index, we can specify the first two columns, which together provide a unique index to the data.

In [ ]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Patient','Taxon'])
mb.head()

This is called a *hierarchical* index, which we will revisit later in the section.

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

In [ ]:
pd.read_csv("Data/microbiome.csv", skiprows=[3,4,6]).head()

If we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [ ]:
pd.read_csv("Data/microbiome.csv", nrows=4)

Alternately, if we want to process our data in reasonable chunks, the `chunksize` argument will return an iterable object that can be employed in a data processing loop. For example, our microbiome data are organized by bacterial phylum, with 14 patients represented in each:

In [ ]:
pd.read_csv("Data/microbiome.csv", chunksize=14)

In [ ]:
data_chunks = pd.read_csv("Data/microbiome.csv", chunksize=14)

mean_tissue = pd.Series({chunk.Taxon[0]: chunk.Tissue.mean() for chunk in data_chunks})
    
mean_tissue

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [ ]:
!cat Data/microbiome_missing.csv

In [ ]:
pd.read_csv("Data/microbiome_missing.csv").head(20)

Question marks are not marked as NaN. 

Above, Pandas recognized `NA` and an empty field as missing data.

In [ ]:
pd.isnull(pd.read_csv("Data/microbiome_missing.csv")).head(20)

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [ ]:
pd.read_csv("Data/microbiome_missing.csv", na_values=['?', -99999]).head(20)

These can be specified on a column-wise basis using an appropriate dict as the argument for `na_values`.

### Microsoft Excel

Since so much financial and scientific data ends up in Excel spreadsheets (regrettably), Pandas' ability to directly import Excel spreadsheets is valuable. This support is contingent on having one or two dependencies (depending on what version of Excel file is being imported) installed: `xlrd` and `openpyxl` (these may be installed with either `pip` or `easy_install`).

The read_excel convenience function in pandas imports a specific sheet from an Excel file

In [ ]:
mb = pd.read_excel('Data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb.head()

There are several other data formats that can be imported into Python and converted into DataFrames, with the help of buitl-in or third-party libraries. These include JSON, XML, HDF5, relational and non-relational databases, and various web APIs. These are beyond the scope of this tutorial, but are covered in [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do).

## Pandas Fundamentals

This section introduces the new user to the key functionality of Pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [ ]:
baseball = pd.read_csv("Data/baseball.csv", index_col='id')
baseball.head()

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [ ]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()

This looks okay, but let's check:

In [ ]:
baseball_newind.index.is_unique

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [ ]:
pd.Series(baseball_newind.index).value_counts()

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [ ]:
baseball_newind.loc['wickmbo012007']

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [ ]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

In [ ]:
baseball_newind.index.is_unique

We can create meaningful indices more easily using a hierarchical index; for now, we will stick with the numeric `id` field as our index.

### Manipulating indices

**Reindexing** allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [ ]:
baseball.reindex(baseball.index[::-1]).head()

Notice that the `id` index is not sequential. Say we wanted to populate the table with every `id` value. We could specify and index that is a sequence from the first to the last `id` numbers in the database, and Pandas would fill in the missing data with `NaN` values:

In [ ]:
id_range = range(baseball.index.values.min(), baseball.index.values.max()+1)
baseball.reindex(id_range).head()

Missing values can be filled as desired, either with selected values, or by rule:

In [ ]:
baseball.reindex(id_range, method='ffill', columns=['player','year']).head()

In [ ]:
baseball.reindex(id_range, fill_value='charliebrown', columns=['player']).head()

Keep in mind that `reindex` does not work if we pass a non-unique index series.

We can remove rows or columns via the `drop` method:

In [ ]:
baseball.shape

In [ ]:
baseball.drop([89525, 89526])

In [ ]:
baseball.drop(['ibb','hbp'], axis=1)

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [ ]:
# Sample Series object
hits = baseball_newind.h
hits

In [ ]:
# Numpy-style indexing
hits[:3]

In [ ]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

We can also slice with data labels, since they have an intrinsic order within the Index:

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

In a `DataFrame` we can slice along either or both axes:

In [ ]:
baseball_newind[['h','ab']]

In [ ]:
baseball_newind[baseball_newind.ab>500]

For a more concise (and readable) syntax, we can use the new `query` method to perform selection on a `DataFrame`. Instead of having to type the fully-specified column, we can simply pass a string that describes what to select. The query above is then simply:

In [ ]:
baseball_newind.query('ab > 500')

The `DataFrame.index` and `DataFrame.columns` are placed in the query namespace by default. If you want to refer to a variable in the current namespace, you can prefix the variable with `@`:

In [ ]:
min_ab = 450

In [ ]:
baseball_newind.query('ab > @min_ab')

The indexing field `loc` allows us to select subsets of rows and columns in an intuitive way:

In [ ]:
baseball_newind.loc['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

In [ ]:
baseball_newind.loc[:'myersmi01NYA2006', 'hr']

In addition to using `loc` to select rows and columns by **label**, pandas also allows indexing by **position** using the `iloc` attribute.

So, we can query rows and columns by absolute position, rather than by name:

In [ ]:
baseball_newind.iloc[:5, 5:8]

### Exercise 3

You can use the `isin` method query a DataFrame based upon a list of values as follows: 

    data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

Use `isin` to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?

In [ ]:
chosen_players = baseball.team.isin(['LAN', 'SFN'])
print(sum(chosen_players), 'players played for LAN or SFN')

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years. First, let's (artificially) construct two Series, consisting of home runs hit in years 2006 and 2007, respectively:

In [ ]:
hr2006 = baseball.loc[baseball.year==2006, 'hr']
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball.loc[baseball.year==2007, 'hr']
hr2007.index = baseball.player[baseball.year==2007]

In [ ]:
hr2007

Now, let's add them together, in hopes of getting 2-year home run totals:

In [ ]:
hr_total = hr2006 + hr2007
hr_total

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [ ]:
hr_total[hr_total.notnull()]

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [ ]:
hr2007.add(hr2006, fill_value=0)

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [ ]:
baseball.hr - baseball.hr.max()

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [ ]:
baseball.loc[89521, "player"]

In [ ]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.loc[89521]
diff[:10]

We can also apply functions to each column or row of a `DataFrame`

In [ ]:
stats.apply(np.median)

In [ ]:
def range_calc(x):
    return x.max() - x.min()

In [ ]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

Lets use apply to calculate a meaningful baseball statistics, [slugging percentage](https://en.wikipedia.org/wiki/Slugging_percentage):

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

And just for fun, we will format the resulting estimate.

In [ ]:
def slugging(x): 
    bases = x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr']
    ab = x['ab']+1e-6
    
    return bases/ab

baseball.apply(slugging, axis=1).round(3)

## Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [ ]:
baseball_newind.sort_index().head()

In [ ]:
baseball_newind.sort_index(ascending=False).head()

Try sorting the **columns** instead of the rows, in ascending order:

In [ ]:
baseball_newind.sort_index(axis=1).head()

We can also use `sort_values` to sort a `Series` by value, rather than by label.

In [ ]:
baseball.hr.sort_values()

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_values`:

In [ ]:
baseball[['player','sb','cs']].sort_values(ascending=[False,True], 
                                           by=['sb', 'cs']).head(10)

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Exercise 4

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

In [ ]:
def obp(x): 
    num = x['h']+x['bb']+x['hbp']
    den = x['ab']+x['bb']+x['hbp']+x['sf']+1e-6
    
    return num/den

onb_players = baseball.apply(obp, axis=1).round(3)

In [ ]:
onb_players.sort_values()

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [ ]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

This index is a `MultiIndex` object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, Pandas does not print the repeats, making it easy to identify groups of values.

In [ ]:
baseball_h.index[:10]

In [ ]:
baseball_h.index.is_unique

Try using this hierarchical index to retrieve Julio Franco (`francju01`), who played for the Atlanta Braves (`ATL`) in 2007:

In [ ]:
baseball_h.loc[(2007, 'ATL', 'francju01')]

Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:

In [ ]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Taxon','Patient'])

In [ ]:
mb.head(10)

With a hierachical index, we can select subsets of the data based on a *partial* index:

In [ ]:
mb.loc['Proteobacteria']

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

If you want to get fancy, both the row and column indices themselves can be given names:

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

With this, we can do all sorts of custom indexing:

In [ ]:
frame.loc['a', 'Ohio']

Try retrieving the value corresponding to `b2` in `Colorado`:

In [ ]:
frame.loc[('b',2),'Colorado']

Additionally, the order of the set of indices in a hierarchical `MultiIndex` can be changed by swapping them pairwise:

In [ ]:
mb.swaplevel('Patient', 'Taxon').head()

Data can also be sorted by any index level, using `sortlevel`:

In [ ]:
mb.sortlevel('Patient', ascending=False).head()

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [ ]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

Missing values may be dropped or indexed out:

In [ ]:
bacteria2

In [ ]:
bacteria2.dropna()

In [ ]:
bacteria2.isnull()

In [ ]:
bacteria2[bacteria2.notnull()]

By default, `dropna` drops entire rows in which one or more values are missing.

In [ ]:
data.dropna()

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
data.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
data.loc[7, 'year'] = np.nan
data

In [ ]:
data.dropna(thresh=5)

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

### Exercise 5

Try using the `axis` argument to drop columns with missing values:

In [ ]:
data.dropna(axis=1)

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [ ]:
bacteria2.fillna(0)

In [ ]:
data.fillna({'year': 2013, 'treatment':2})

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

We can alter values in-place using `inplace=True`.

In [ ]:
data.year.fillna(2013, inplace=True)
data

Missing values can also be interpolated, using any one of a variety of methods:

In [ ]:
bacteria2.fillna(method='bfill')

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [ ]:
baseball.sum()

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [ ]:
baseball.mean()

The important difference between NumPy's functions and Pandas' methods is that the latter have built-in support for handling missing data.

In [ ]:
bacteria2

In [ ]:
bacteria2.mean()

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [ ]:
bacteria2.mean(skipna=False)

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [ ]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.sort_values(ascending=False)

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [ ]:
baseball.describe()

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [ ]:
baseball.player.describe()

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [ ]:
baseball.hr.cov(baseball.X2b)

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [ ]:
baseball.hr.corr(baseball.X2b)

In [ ]:
baseball.ab.corr(baseball.h)

Try running `corr` on the entire `baseball` DataFrame to see what is returned:

In [ ]:
baseball.corr()

This returns correlation between all columns, pairwise.

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [ ]:
mb.head()

In [ ]:
mb.sum(level='Taxon')

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [ ]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. Pandas supports this using Python’s built-in pickle serialization.

In [ ]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [ ]:
pd.read_pickle("baseball_pickle")

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.

### Advanced Exercise: Compiling Ebola Data

The `Data/ebola` folder contains summarized reports of Ebola cases from three countries during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

From these data files, use pandas to import them and create a single data frame that includes the daily totals of new cases and deaths for each country.

In [2]:
import glob
path = 'Data/ebola/'

In [3]:
glob_guinea = glob.glob(path+"guinea_data/*.csv")
guinea_fields = ['Total new cases registered so far', 'New deaths registered', 'New deaths registered today']
guinea_temp = []
guinea = pd.DataFrame()

In [4]:
glob_liberia = glob.glob(path+"liberia_data/*.csv")
liberia_fields = ['New Case/s (Suspected)', 'New Case/s (Probable)', 'New case/s (confirmed)', 'Newly reported deaths']
liberia_temp = []
liberia = pd.DataFrame()

In [5]:
glob_sl = glob.glob(path+"sl_data/*.csv")
sl_fields = ['new_suspected', 'new_probable', 'new_confirmed', 'death_suspected', 'death_probable', 'death_confirmed']
sl_temp = []
sl = pd.DataFrame()

In [6]:
for guinea_path in glob_guinea:
    guinea_full_data = pd.read_csv(guinea_path,
                                   usecols=['Date', 'Description', 'Totals'],
                                   parse_dates=True)
    guinea_data = guinea_full_data[guinea_full_data.Description.isin(guinea_fields)]
    guinea_temp.append(guinea_data)

guinea = pd.concat(guinea_temp)
guinea['Country'] = 'Guinea'
guinea = guinea.set_index(['Country','Date','Description'])
guinea = guinea.rename(columns={'Totals': 'National'})
guinea.sort_index()

                                                     National
Country Date       Description
Guinea  2014-08-04 New deaths registered today              2
                   Total new cases registered so far        9
        2014-08-26 New deaths registered                    5
                   Total new cases registered so far       28
        2014-08-27 New deaths registered                    2
                   Total new cases registered so far       22
        2014-08-30 New deaths registered                    5
                   Total new cases registered so far       24
        2014-08-31 New deaths registered                    3
                   Total new cases registered so far       46
        2014-09-02 New deaths registered                    5
                   Total new cases registered so far       25
        2014-09-04 New deaths registered                    5
                   Total new cases registered so far       30
        2014-09-07 New deaths registered                    4
                   Total new cases registered so far       16
        2014-09-08 New deaths registered                    4
                   Total new cases registered so far       16
        2014-09-09 New deaths registered                    7
                   Total new cases registered so far       16
        2014-09-11 New deaths registered                    2
                   Total new cases registered so far       22
        2014-09-14 New deaths registered                    1
                   Total new cases registered so far       25
        2014-09-16 New deaths registered                    3
                   Total new cases registered so far       10
        2014-09-17 New deaths registered                    3
                   Total new cases registered so far       10
        2014-09-19 New deaths registered                    5
                   Total new cases registered so far       16
        2014-09-21 New deaths registered                    0
                   Total new cases registered so far       18
        2014-09-22 New deaths registered                    3
                   Total new cases registered so far       19
        2014-09-23 New deaths registered                    3
                   Total new cases registered so far       29
        2014-09-24 New deaths registered                    3
                   Total new cases registered so far       28
        2014-09-26 New deaths registered                    5
                   Total new cases registered so far       19
        2014-09-30 New deaths registered                    4
                   Total new cases registered so far       15
        2014-10-01 New deaths registered                   15
                   Total new cases registered so far       34

In [7]:
for liberia_path in glob_liberia:
    liberia_full_data = pd.read_csv(liberia_path,
                                    usecols=['Date', 'Variable', 'National'],
                                    parse_dates=True)
    liberia_data = liberia_full_data[liberia_full_data.Variable.isin(liberia_fields[:3])]
    liberia_data = liberia_data.append(liberia_data.sum(numeric_only=True), ignore_index=True)
    liberia_data = liberia_data.append(liberia_full_data[liberia_full_data.Variable.isin(liberia_fields[3:])], ignore_index=True)
    liberia_data.fillna(method='bfill', inplace=True)
    liberia_data.loc[3,'Variable'] = 'Total new daily cases'
    liberia_data.drop([0,1,2],inplace=True)
    liberia_temp.append(liberia_data)

liberia = pd.concat(liberia_temp)
liberia['Country'] = 'Liberia'
liberia = liberia.set_index(['Country','Date','Variable'])
liberia.sort_index()

                                          National
Country Date       Variable
Liberia 09/23/2014 Newly reported deaths      51.0
                   Total new daily cases      88.0
        09/25/2014 Newly reported deaths      42.0
                   Total new daily cases      55.0
        09/26/2014 Newly reported deaths      64.0
                   Total new daily cases      71.0
        09/27/2014 Newly reported deaths       8.0
                   Total new daily cases      37.0
        10/1/2014  Newly reported deaths      22.0
                   Total new daily cases      24.0
        10/10/2014 Newly reported deaths      25.0
                   Total new daily cases      26.0
        10/11/14   Newly reported deaths      33.0
                   Total new daily cases      31.0
        10/12/14   Newly reported deaths       4.0
                   Total new daily cases      11.0
        10/13/14   Newly reported deaths      22.0
                   Total new daily cases      36.0
        10/16/14   Newly reported deaths      30.0
                   Total new daily cases      41.0
        10/17/14   Newly reported deaths      29.0
                   Total new daily cases     167.0
        10/18/14   Newly reported deaths      16.0
                   Total new daily cases      64.0
        10/19/14   Newly reported deaths       8.0
                   Total new daily cases      19.0
        10/20/14   Newly reported deaths      28.0
                   Total new daily cases      50.0
        10/21/2014 Newly reported deaths      23.0
                   Total new daily cases      28.0
...                                            ...
        9/14/2014  Newly reported deaths      37.0
                   Total new daily cases      47.0
        9/15/2014  Newly reported deaths      30.0
                   Total new daily cases     113.0
        9/16/2014  Newly reported deaths      54.0
                   Total new daily cases      99.0
        9/17/2014  Newly reported deaths      39.0
                   Total new daily cases      93.0
        9/2/2014   Newly reported deaths      47.0
                   Total new daily cases      76.0
        9/20/2014  Newly reported deaths       NaN
                   Total new daily cases      41.0
        9/21/2014  Newly reported deaths      33.0
                   Total new daily cases      50.0
        9/28/2014  Newly reported deaths       4.0
                   Total new daily cases      24.0
        9/3/2014   Newly reported deaths      27.0
                   Total new daily cases      24.0
        9/30/2014  Newly reported deaths      32.0
                   Total new daily cases      48.0
        9/4/2014   Newly reported deaths      36.0
                   Total new daily cases      52.0
        9/5/2014   Newly reported deaths      51.0
                   Total new daily cases      54.0
        9/6/2014   Newly reported deaths      44.0
                   Total new daily cases      70.0
        9/7/2014   Newly reported deaths      22.0
                   Total new daily cases      35.0
        9/8/2014   Newly reported deaths      47.0
                   Total new daily cases      65.0

[200 rows x 1 columns]

In [8]:
for sl_path in glob_sl:
    sl_full_data = pd.read_csv(sl_path,
                               usecols=['date', 'variable', 'National'],
                               parse_dates=True)
    sl_data = sl_full_data[sl_full_data.variable.isin(sl_fields[:3])]
    sl_data = sl_data.append(sl_data.sum(numeric_only=True), ignore_index=True)
    sl_data2 = sl_full_data[sl_full_data.variable.isin(sl_fields[3:])]
    sl_data2 = sl_data2.append(sl_data2.sum(numeric_only=True), ignore_index=True)
    sl_data = sl_data.append(sl_data2, ignore_index=True)
    sl_data.fillna(method='bfill', inplace=True)
    sl_data.loc[3,'variable'] = 'Total new daily cases'
    sl_data.loc[7,'variable'] = 'Total new daily cases'
    sl_data.drop([0,1,2,4,5,6],inplace=True)
    sl_temp.append(sl_data)

sl = pd.concat(liberia_temp)
sl['Country'] = 'Sri-Lanka'
sl = sl.set_index(['Country','Date','Variable'])
sl.sort_index()
sl

                                            National
Country   Date       Variable
Sri-Lanka 10/9/2014  Total new daily cases      60.0
                     Newly reported deaths      45.0
          09/23/2014 Total new daily cases      88.0
                     Newly reported deaths      51.0
          12/9/2014  Total new daily cases    7797.0
                     Newly reported deaths       NaN
          10/16/14   Total new daily cases      41.0
                     Newly reported deaths      30.0
          11/23/2014 Total new daily cases       7.0
                     Newly reported deaths       0.0
          9/4/2014   Total new daily cases      52.0
                     Newly reported deaths      36.0
          7/2/2014   Total new daily cases       4.0
                     Newly reported deaths       5.0
          10/8/2014  Total new daily cases      56.0
                     Newly reported deaths      39.0
          10/20/14   Total new daily cases      50.0
                     Newly reported deaths      28.0
          09/25/2014 Total new daily cases      55.0
                     Newly reported deaths      42.0
          11/15/2014 Total new daily cases      39.0
                     Newly reported deaths      12.0
          7/3/2014   Total new daily cases       4.0
                     Newly reported deaths       4.0
          9/16/2014  Total new daily cases      99.0
                     Newly reported deaths      54.0
          12/6/2014  Total new daily cases    7735.0
                     Newly reported deaths       NaN
          9/21/2014  Total new daily cases      50.0
                     Newly reported deaths      33.0
...                                              ...
          10/22/2014 Total new daily cases      30.0
                     Newly reported deaths      19.0
          9/6/2014   Total new daily cases      70.0
                     Newly reported deaths      44.0
          10/4/14    Total new daily cases      42.0
                     Newly reported deaths      43.0
          9/3/2014   Total new daily cases      24.0
                     Newly reported deaths      27.0
          9/28/2014  Total new daily cases      24.0
                     Newly reported deaths       4.0
          6/22/2014  Total new daily cases      10.0
                     Newly reported deaths       4.0
          11/27/2014 Total new daily cases      46.0
                     Newly reported deaths      16.0
          9/8/2014   Total new daily cases      65.0
                     Newly reported deaths      47.0
          7/1/2014   Total new daily cases       4.0
                     Newly reported deaths       5.0
          10/5/14    Total new daily cases      28.0
                     Newly reported deaths      21.0
          6/25/14    Total new daily cases       7.0
                     Newly reported deaths       3.0
          10/18/14   Total new daily cases      64.0
                     Newly reported deaths      16.0
          10/21/2014 Total new daily cases      28.0
                     Newly reported deaths      23.0
          8/2/2014   Total new daily cases      11.0
                     Newly reported deaths      13.0
          10/13/14   Total new daily cases      36.0
                     Newly reported deaths      22.0

[200 rows x 1 columns]

In [9]:
tot_data = [guinea, liberia, sl]
tot_data = pd.concat(tot_data)

In [11]:
tot_data

                                                       National
Country   Date       Description
Guinea    2014-09-04 Total new cases registered so far       30
                     New deaths registered                    5
          2014-09-16 Total new cases registered so far       10
                     New deaths registered                    3
          2014-09-30 Total new cases registered so far       15
                     New deaths registered                    4
          2014-09-22 Total new cases registered so far       19
                     New deaths registered                    3
          2014-08-30 Total new cases registered so far       24
                     New deaths registered                    5
          2014-08-31 Total new cases registered so far       46
                     New deaths registered                    3
          2014-09-09 Total new cases registered so far       16
                     New deaths registered                    7
          2014-09-21 Total new cases registered so far       18
                     New deaths registered                    0
          2014-09-07 Total new cases registered so far       16
                     New deaths registered                    4
          2014-08-04 Total new cases registered so far        9
                     New deaths registered today              2
          2014-10-01 Total new cases registered so far       34
                     New deaths registered                   15
          2014-08-27 Total new cases registered so far       22
                     New deaths registered                    2
          2014-09-02 Total new cases registered so far       25
                     New deaths registered                    5
          2014-09-14 Total new cases registered so far       25
                     New deaths registered                    1
          2014-08-26 Total new cases registered so far       28
                     New deaths registered                    5
...                                                         ...
Sri-Lanka 10/22/2014 Total new daily cases                   30
                     Newly reported deaths                   19
          9/6/2014   Total new daily cases                   70
                     Newly reported deaths                   44
          10/4/14    Total new daily cases                   42
                     Newly reported deaths                   43
          9/3/2014   Total new daily cases                   24
                     Newly reported deaths                   27
          9/28/2014  Total new daily cases                   24
                     Newly reported deaths                    4
          6/22/2014  Total new daily cases                   10
                     Newly reported deaths                    4
          11/27/2014 Total new daily cases                   46
                     Newly reported deaths                   16
          9/8/2014   Total new daily cases                   65
                     Newly reported deaths                   47
          7/1/2014   Total new daily cases                    4
                     Newly reported deaths                    5
          10/5/14    Total new daily cases                   28
                     Newly reported deaths                   21
          6/25/14    Total new daily cases                    7
                     Newly reported deaths                    3
          10/18/14   Total new daily cases                   64
                     Newly reported deaths                   16
          10/21/2014 Total new daily cases                   28
                     Newly reported deaths                   23
          8/2/2014   Total new daily cases                   11
                     Newly reported deaths                   13
          10/13/14   Total new daily cases                   36
                     Newly reported deaths                   22

[444 rows x 1 columns]